{% extends 'base.html' %}

{% block title %}
    Authentication
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
    <h1>Authentication</h1>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-success btn-block">Authenticate</button>
            <a href="{% url 'reset_password_page' %}" style="margin-left: 300px; margin-top: 10px"><h5>Forgot your
                password?</h5></a>
        </div>

    </form>

{% endblock %}