{% extends 'base.html' %}

{% block title %}
    Authentication
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
    <h1>Authentication</h1>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-success btn-block">Authenticate</button>

    </form>

    <h4 class="reset_password" style="margin-top: 50px">Reset password:</h4>
    <form action="{% url 'reset_password' %}" method="post">

        {% csrf_token %}
        {{ reset_form.as_p }}
        <button type="submit" class="btn btn-success">Send mail</button>

    </form>

{% endblock %}