{% extends 'base.html' %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

    {% if 'tasks' in category.name %}
        <h1>{{ category.name }}</h1>
    {% else %}
        <h1>{{ category.name }}</h1>
    {% endif %}

    {% if tasks|length > 0 %}
        <a href="{% url 'task_creation' %}"><h5>Create new task</h5></a>
    {% endif %}


    {% if tasks|length > 0 %}

        {% for task in tasks %}
            <div class="card" style="border-width: 1px; border-color: black !important; margin-top: 40px">
                <div class="card-body">
                    <h2 class="card-title">{{ task.title }}</h2>
                    <p class="card-text"><h5>{{ task.description|truncatewords:7 }}</h5></p>
                    {% if task.complete %}
                        <p class="card-text">Task status: completed</p>
                    {% else %}
                        <p class="card-text">Task status: not completed</p>
                    {% endif %}
                    <a href="{% url 'detail' task.category.slug task.id %}" class="btn btn-primary">Check details</a>
                    {% if task.complete %}
                        <a href="{% url 'delete' task.id %}" class="btn btn-danger">Delete</a>
                    {% else %}
                        <a href="{% url 'update' task.category.slug task.id %}" class="btn btn-success">Update</a>
                        <a href="{% url 'delete' task.id %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

    {% else %}
        <h3>Now u don't have tasks in this category, click the button to create it</h3>
        <a href="{% url 'task_creation' %}" class="button btn btn-success">Create my first task</a>
    {% endif %}




{% endblock %}